<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Form</h1>
	<!-- th refers to the thymeleaf URL above (line 2) -->
	<!-- action="@{/greeting} with method="post" directs the form to POST to the /greeting uri -->
	<!-- object="${greeting}" refers to the greeting attribute in the controller -->
	<!-- the field="*{id}" refers to the field names in the Greeting object -->
    <form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
    	<p>Id: <input type="text" th:field="*{id}" /></p>
        <p>Message: <input type="text" th:field="*{content}" /></p>
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>